<h2>Book page</h2>

<p>{{title}}</p>
{{#each authors}}
    <a href="/author/{{this.id}}">{{this.name}}</a><br>
{{/each}}
<p>{{publicationDate}}</p>
<p>{{publisher}}</p>

<a href="/edit-book/{{id}}">Edit</a>