<h2>Admin Page</h2>

<form id="create-administrator-form" action="/administrators" method="post" autocomplete="off"
    class="createadministrator-form">
    <div class="form-group create-administrator-div">
        <input type="text" placeholder="First name" class="form-control" name="firstName">
        <input type="text" placeholder="Last Name" class="form-control" name="lastName">
        <input type="text" placeholder="Email" class="form-control" name="email">
        <input type="text" placeholder="Password" class="form-control" name="password">
        <input type="text" placeholder="Enter password again" class="form-control" name="passwordRepeat" >
        <div>
            <p>Privilegies:</p>
            <select name="privilegies" id="privilegies-select">
                {{#each privilegies}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create administrator</button>
</form>

{{#if validationError}}
<div class="alert alert-warning">
    <strong>All fields not filled in correctly!</strong>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each administrators}}
            <tr>
                <td>{{this.id}}</td>
                <td><a href="administrators/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>