<h2>Author page</h2>

<h3>{{firstName}} {{lastName}}</h3>
<p>Born {{birthYear}}</p>

<h4>Books:</h4>
{{#each books}}
    <a href="/books/{{ISBN}}">{{title}}</a><br>
{{/each}}
{{#if bookErrorMessage}}
    <p>{{bookErrorMessage}}</p>
{{/if}}

{{#if admin}}
<a href="/authors/edit/{{id}}">Edit</a>
{{/if}}

{{#if getFailed}}
<div class="alert alert-warning">
    <strong>There was an error!</strong>
    <p>{{error}}</p>
</div>
{{/if}}