<h2>Author page</h2>

<h3>{{name}}</h3>

<div class="author_bio">
    <h4>Bio</h4>
    <p>{{bio}}</p>
</div>

<h4>Books:</h4>
{{#each books}}
    <p>{{this.title}} - Info: {{this.publicationInfo}}</p>
{{/each}}


<a href="/author/edit/{{id}}">Edit</a>