<h2>Book Info</h2>

<p>{{title}}</p>
<p>{{ISBN}}</p>
{{#each authors}}
    <span>Author: </span><br>
    <a href="/author/{{id}}">{{this.name}}</a><br><br>
{{/each}}

<a href="/book/edit/{{ISBN}}">Edit Book</a>