<h2>Book Info</h2>

<p>{{title}}</p>
<p>{{ISBN}}</p>
<p>Pages: {{pages}}</p>
<p>Publication info: {{publicationInfo}}</p>
{{#each authors}}
    <span>Author: </span><br>
    <a href="/authors/{{id}}">{{firstName}} {{lastName}}</a><br><br>
{{/each}}

{{#if admin}}
<a href="/books/edit/{{ISBN}}">Edit Book</a>
{{/if}}