<h2>Edit admin</h2>

{{#if adminSupreme}}
<form action="/administrators/edit/{{id}}" method="post">
    <input type="text" name="firstName" placeholder="First Name" value={{firstName}}>
    <input type="text" name="lastName" placeholder="Last Name" value={{lastName}}>
    <p>Current level: {{accessLevel}}</p>
    <select name="accessLevel">
                {{#each accessLevels}}
                <option value={{@key}}>{{this}}</option>
                {{/each}}
            </select>
    <input type="text" name="email" placeholder="email" value={{email}}>
    <input type="submit">
</form>
{{/if}}

{{#if superAdmin}}
<form action="/administrators/edit/{{id}}" method="post">
    <input type="text" name="password" placeholder="New password">
    <input type="text" name="passwordRepeat" placeholder="Enter password again">
    <input type="submit">
</form>
{{/if}}

{{#if validationError}}
<div class="alert alert-warning">
    <strong>Fields not filled in correctly!</strong>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

{{#if adminSupreme}}
    <form action="/administrators/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-primary">Delete Admin</button>
    </form>
{{/if}}