<h2>Search Books</h2>

<form action="/books/search" method="get" autocomplete="off">
    <div class="form-group form-inline">
        <input class="form-control" type="text" name="search" id="search">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if searched }}

<div class="search-books-table-div">
    <table class="table table-striped" id="bookTable">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
            {{#each books}}
            <tr>
                <td><a href="/books/{{ISBN}}">{{title}}</a></td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

<p>Page: {{page}}</p>
<div>
    {{#each paginationWithDots}}
    {{#if isNumber}}
    <a href="/books/search?search={{../search}}&page={{value}}">{{value}} </a>
    {{else}}
    <a>{{value}}</a>
    {{/if}}
    {{/each}}
</div>

{{/if}}