<h2>Search classifications</h2>

<form action="/search-classifications" method="get" autocomplete="off">
    <div class="form-group form-inline">
        <select name="classification" id="classification-select">
            {{#each classifications}}
            <option value="{{this.signum}}">{{this.signum}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if searched }}

<div class="search-classifications-table-div">
    <table class="table table-striped" id="classificationTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
            {{#each books}}
            <tr>
                <td>{{this.ISBN}}</td>
                <td><a href="/books/{{this.ISBN}}">{{this.title}}</a></td>
            </tr>
            {{/each}}

            <p>Page: {{page}}</p>
            <div>
                {{#each paginationWithDots}}
                {{#if isNumber}}
                <a href="/search-classifications?classification={{../classification}}&page={{value}}">{{value}} </a>
                {{else}}
                <a>{{value}}</a>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}
        </tbody>
    </table>
</div>

{{/if}}