<h2>Search Authors</h2>

<form action="/authors/search" method="get" autocomplete="off">
<div class="form-group form-inline">
    <input class="form-control" type="text" name="search" id="search">
</div>
<button type="submit" class="btn btn-primary">Search Author</button>
</form>

{{#if validationError}}
<div class="alert alert-warning">
    <strong>All fields not filled in correctly!</strong>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
                {{#each authors}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>