<h2>Search Authors</h2>

<form id="create-author-form" action="/authors" method="post" autocomplete="off" class="create-author-form">
    <div class="form-group create-author-div">
        <input type="text" placeholder="First name" class="form-control" name="firstName">
        <input type="text" placeholder="Last name" class="form-control" name="lastName">
        <input type="number" placeholder="Birthyear" class="form-control" name="birthYear">
    </div>
    <button type="submit" class="btn btn-primary">Create Author</button>
</form>

<form action="/authors/search" method="get" autocomplete="off">
<div class="form-group form-inline">
    <input class="form-control" type="text" name="search" id="search">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if postError}}
<div class="alert alert-warning">
    <strong>All fields not filled in correctly!</strong>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
                {{#each authors}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>